.signup-child
    .signup-header
      h3 #{plan.name}
      .signup-pricing
        span.pricing $#{plan.price}
        | /month
        p That’s only #{plan.price}$ per meal
    .signup-features
      ul
        li
          i.fas.fa-check.small-icon  
          | 1 meal every day
        li
          i.fas.fa-check.small-icon  
          | Duration #{plan.duration}
        li
          i.fas.fa-check.small-icon  
          | Description #{plan.description}
        li
          i.fas.fa-check.small-icon  
          | Free delivery
      .signup-button
        if user
            a.btn.btn-full.bookPlan(href=`javascript:void(0)` id=`${plan["_id"]}`) I'm hungry
            //javascript:void(0) is like prevent default
        else
            a.btn.btn-full(href=`/login`) I'm hungry
